html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* header */
header {
  background-color: #79756f;
}

/* Planets title */
h1 {
  font-family: 'Bevan', cursive;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

/* Navigation general class starts */
.navigation {
  margin: 0.3em;
  padding: 0.6em;
  list-style-type: none;
  text-align: center;
  color: #fff;
  font-style: helvetica; sans-serif;
}

/* Navigation inside of boxes */
.navigation li {
  display: inline-block;
  margin: 0.3em;
  max-width: 20em;
  padding: 0.75em;
  background-color: #713837;
  border-radius: 10px;
  text-align: center;
}

.navigation a:hover {
  background-color: #f33
}
